html {
  scroll-behavior: smooth;
}
body {
  background-color: black;
  margin: 0 40px 0 40px;
}
nav {
  position: fixed;
  right: -95px;
  z-index: 1;
  width: 120px;
  height: 180px;
  background-color: white;

  p {
    font-family: "RobotoBold";
    font-size: 1.2rem;
    margin-top: 0px;
    margin-left: 5px;
  }
  img:nth-child(1) {
    position: absolute;
    right: 15px;
    top: 10px;
    width: 60px;
  }
  img:nth-child(2) {
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 60px;
  }
}
h2 {
  color: white;
  font-size: 2.6rem;
  font-family: "RobotoBold";
  animation: moveLeft 1.5s forwards;
}
.presentation {
  p {
    color: white;
    opacity: 0;
    font-family: "RobotoLight";
    font-size: 1.3rem;
    animation: showText 2.5s forwards;
    animation-delay: 1.2s;
    line-height: 30px;
  }
  .scroll {
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0;
    animation: showText 2.5s forwards;
    animation-delay: 1.2s;
    img {
      width: 60px;
      animation: moveDown 1.5s infinite;
    }
  }
}
.projects {
  height: 100vh;
}