html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative;
  background-color: black;
  padding-right: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  right: -95px;
  top: 300px;
  z-index: 1;
  width: 120px;
  height: 180px;
  opacity: 0;
  animation: showText 2.5s forwards;
  animation-delay: 1.2s;
  background-color: white;
  transition: 0.5s;
  .logos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10px;

    img {
      width: 60px;
    }
  }
  p {
    font-family: "RobotoBold";
    font-size: 1.2rem;
    margin-top: 0px;
    margin-left: 5px;
  }
}
.nav--opened {
  right: 0;
  transition: 0.5s;
}
h2 {
  color: white;
  font-size: 2.6rem;
  font-family: "RobotoBold";
  animation: moveLeft 1.5s;
  margin-bottom: 0px;
}
.presentation {
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    strong {
      font-family: "Roboto";
    }
  }
  p {
    color: white;
    opacity: 0;
    font-family: "RobotoLight";
    font-size: 1.3rem;
    animation: showText 2.5s forwards;
    animation-delay: 1.2s;
    line-height: 30px;
  }
  .scroll {
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0;
    animation: showText 2.5s forwards;
    animation-delay: 1.2s;
    img {
      width: 60px;
      animation: moveDown 1.5s infinite;
    }
  }
}
.projects {
  height: 100vh;
}