@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoLight";
  src: url("/fonts/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("/fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "RobotoBold";
  src: url("/fonts/Roboto-Bold.woff") format("woff");
}
