@keyframes moveLeft {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes showText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}
